.carritoos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden; 
}
.carriitoo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    width: 60%;
    height: 80%;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
    background-color: white;
    overflow-x: scroll;
    opacity: 0; 
    visibility: hidden; 
}
.dos{
    text-align: center;
    font-size: 2rem;
}
.carritoos.show{
    visibility: visible;
}
.carriitoo.show{
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    visibility: visible;
}

.carriitoo__close box-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}
.carriitoo__close box-icon:hover{
    fill: crimson;
}
.carriitoo_center{
    width: 90%;
    margin: auto;
}
.carriitoo_itemm{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px var(--color-1);
    border-radius: 5px;
}
.carriitoo_itemm img{
    width: 9rem;
}
.carriitoo_itemm h3{
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5;
    font-family: popping;
}
.carriitoo_itemm .pprice{
    color: #1a202c;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin-left: 1rem;
}
.carriitoo_itemm box-icon{
    fill: var(--color-1);
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: .3rem;
}
.carriitoo_itemm .cantidad{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
.carriitoo_itemm .remove_itemm box-icon{
    width: 60px;
    height: 80px;
    fill: crimson;
    margin-top: 2rem;
}
.carriitoo__footerrr{
    text-align: center;
    margin-bottom: 3rem;
}

.carriitoo__footerrr .tre3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.carriitoo__footerrr .bbttnnn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: var(--color-3);
    border: 0;
    outline: 0;
    cursor: pointer;

}
.carriitoo__footerrr .bbttnnn:hover{
    background-color: var(--color-1);
    color: white;
}