.about-section {
  height: 100vh;
  background-image: url(../assets/about-background.jpg); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%x;
  margin: 0%;
}

