.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-item {
  text-align: center;
  color: #000;
  font-size: 16px;
}

.button-item a {
  text-decoration: none;
  color: #000;
}

.h15 {
  color: #24db17;
}

.button-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.iconos-beneficios{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}