.title-header {
    padding: 5px;
    color: var(--color-5);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-1);
    color: var(--color-5);
}

nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.link {
    padding: 10px 20px;
    color: var(--color-4);
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
    }
}

nav a {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    color: var(--color-2);
}

.Logo {
    width: 20%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura según tus necesidades */
  }