* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.logo-img {
  width: 140px;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: var(--color-5);
}

nav {
  display: flex;
  align-items: center;
}

nav .header-links {
  display: flex;
  align-items: center;
}

nav .header-links a {
  color: var(--color-2);
  font-size: 12px;
  padding: 5px 10px;
  transition: 0.2s;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

nav .header-links a:hover,
nav .header-links a.active {
  color: #fff;
  background-color: var(--color-3);
  border-radius: 50px;
}

.header-right {
  display: flex;
  align-items: center;
}

.login {
  color: #cfd9e0;
  font-size: 12px;
  transition: 0.2s;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.login .alert {
  color: var(--color-5);
  background: var(--color-2);
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: var(--color-2);
}

.cartt {
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: aqua;
}

.cartt .cart-icon {
  width: 30px;
  height: 30px;
}

.cartt .spa {
  position: absolute;
  top: 1.5rem;
  right: -0.1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  font-size: 0.5rem;
  font-weight: 700;
  background-color: var(--color-3);
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0 20px;
  }

  .header-right .hamburger {
    display: block;
  }

  nav {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #0b2239;
    padding: 30px;
    transition: 0.3s;
    text-align: center;
    z-index: -1;
  }

  nav.active {
    top: 70px;
  }

  nav ul {
    display: block;
  }
}


@media only screen and (max-width: 500px) {
  nav .login-signup {
    display: block;
    margin-top: 20px;
  }

  .header-right .login-signup {
    display: none;
  }
}