.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    width: 100%;
    height: 100%;
}

.title {
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-2);
}

@media (min-width: 768px) {
    .main-form {
        display: flex;
        flex-direction: row;
    }


    .section-1 {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 87vh;
        background-image: url('https://previews.123rf.com/images/eugenius777/eugenius7771612/eugenius777161200025/69350504-fondo-geom%C3%A9trico-abstracto-de-tonos-marrones-rombo-y-formas-cuadradas.jpg');
        background-repeat: none;
        background-position: center center;
        background-size: cover;
    }
    

    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: center;
        background-color: var(--color-5);
        height: 87vh;
        width: 50%;
    }

    form {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 3;
        gap: 15px;
        width: 100%;
    }
    .Msg {
        color: var(--color-1);
        padding: 10px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .section-1 {
        display: none;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: 70vh;
        width: 100%;
        background-color: var(--color-5);
        padding-bottom: 200px;
        text-align: center;
    }

    .Msg {
        color: var(--color-1);
        padding: 10px;
        font-size: 18px;
    }
}


#form-login {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    gap: 15px;
    width: 70%;
    padding-bottom: 200px;
}

#email, #password {
    border-radius: 18px;
    border: 2px solid var(--color-2);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.btn-submit {
    background-color: var(--color-2);
    color: var(--color-6);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 13px;
    border-radius: 18px;
}
.new {
    text-align: start;
    font-size: 16px;
    color: var(--color-1);
} 