.titlee{
	font-size: 2rem;
	padding: 10rem 0 0 0;
	color: var(--color-2);
}
.productoss{
	padding: 5rem 2rem;
	margin:  0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 3rem 1rem;
	box-sizing: border-box;
}
.productoo{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 10px 10px rgba(0, 0, 0, .2);
	border: 6px solid transparent;
	border-radius: 5px;
}