:root {
    --color-1: #021533;
    --color-2: #143668;
    --color-3: #2866d9;
    --color-4: #b3d0ff;
    --color-5: #efefef;
    --color-6: #f7f7f7;
  }

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}