:root {
    --color-1: #021533;
    --color-2: #143668;
    --color-3: #2866d9;
    --color-4: #b3d0ff;
    --color-5: #efefef;
    --color-6: #f7f7f7;
  }

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
  }
  
  h1 {
    font-family: 'Poppins', serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 300;
    }

    h2 {
        font-family: 'Poppins', serif;
        font-size: 30px;
        font-weight: 300;
        }
  
  h3{
    font-size: 20px;
    font-weight: 600;
  }
  
  h4{
    font-size: 15px;
    letter-spacing: 1px;
  }
  
  h5{
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  h6 {
    letter-spacing: 1px;
    font-size: 8px;
}
@media only screen and (max-width:1000px){
  .carriitoo_itemm{
    width: 92%;
  }
}
@media only screen and (max-width:700px){
  .carriitoo{
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carriitoo_itemm h3{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width:450px){
  .carriitoo_itemm h3{
    display: .5rem;
  }
  .carriitoo_itemm .remove_itemm{
    width: 30px;
    height: 70px;
  }
}